<%= form_for(@timecard) do |f| %>
  <% if @timecard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timecard.errors.count, "error") %> prohibited this timecard from being saved:</h2>

      <ul>
      <% @timecard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :week_ending_date %><br>
    <%= f.date_select :week_ending_date %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Employee Id" %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :client %><br>
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :sub_project %><br>
    <%= f.text_field :sub_project %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :billable_hours %><br>
    <%= f.text_field :billable_hours %>
  </div>
  <div class="field">
    <%= f.label :client_non_billable_hours %><br>
    <%= f.text_field :client_non_billable_hours %>
  </div>
  <div class="field">
    <%= f.label :tw_non_billable_hours %><br>
    <%= f.text_field :tw_non_billable_hours %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :work_responsibility %><br>
    <%= f.text_field :work_responsibility %>
  </div>
  <div class="field">
    <%= f.label :percentage %><br>
    <%= f.text_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
