<p id="notice"><%= notice %></p>

<p>
  <strong>Week ending date:</strong>
  <%= @timecard.week_ending_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @timecard.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @timecard.employee_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @timecard.client %>
</p>

<p>
  <strong>Project:</strong>
  <%= @timecard.project %>
</p>

<p>
  <strong>Sub project:</strong>
  <%= @timecard.sub_project %>
</p>

<p>
  <strong>Date:</strong>
  <%= @timecard.date %>
</p>

<p>
  <strong>Billable hours:</strong>
  <%= @timecard.billable_hours %>
</p>

<p>
  <strong>Client non billable hours:</strong>
  <%= @timecard.client_non_billable_hours %>
</p>

<p>
  <strong>Tw non billable hours:</strong>
  <%= @timecard.tw_non_billable_hours %>
</p>

<p>
  <strong>Country:</strong>
  <%= @timecard.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @timecard.state %>
</p>

<p>
  <strong>Work responsibility:</strong>
  <%= @timecard.work_responsibility %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @timecard.percentage %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @timecard.grade %>
</p>

<p>
  <strong>Role:</strong>
  <%= @timecard.role %>
</p>

<%= link_to 'Edit', edit_timecard_path(@timecard) %> |
<%= link_to 'Back', timecards_path %>
